@tailwind base;
@tailwind components;
@tailwind utilities;


.totalPageSize {
	min-height: 100dvh;
}

img{
	height: 70px;
}

.group{
	position: relative;
	height: 70px;
	width: 70px;
	margin: 10px;
}

.point1{
	position: absolute;
	transform: rotate(90deg);
	top:-30px;
	left:32px;
}

.point2{
	position: absolute;
	transform: rotate(180deg);
	left:  65px;
	top: 0px;
}

.point3{
	position: absolute;
	transform: rotate(270deg);
	top: 32px;
	left:32px;
}

.point4{
	position: absolute;
	left: 0px;
	top: 0px;
}

.point5{
	position: absolute;
	transform: rotate(45deg);
	left:34px;
	top:0px;
}

 .mirrored-image {
        transform: scaleX(-1);
    }